/*1 Menor tela*/

@media only screen and (max-width: 600px) {
    body {
        background-color: #fff;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 80px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 21px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 8px;
    }
    .p__titulo {
        border-bottom: solid 1px rgb(0, 0, 0);
        font-family: 'Questrial', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #004196;
        padding: 5px;
        margin: 5px;
    }
    .p__texto {
        font-family: 'Questrial', sans-serif;
        font-size: 12px;
        color: #000000;
        padding: 5px;
        margin: 5px;
    }
    .formulario__campo {
        border-radius: 5px;
        border: solid 1px rgb(29, 0, 0);
        height: 25px;
        min-width: 80px;
        max-width: 120px;
        font-family: 'Questrial', sans-serif;
        font-size: 10px;
        color: #000e53;
        padding: 5px;
        margin: 5px;
    }
    textarea {
        min-width: 80px;
        max-width: 120px;
        height: 40px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        font-family: 'Questrial', sans-serif;
        font-size: 10px;
        color: #000e53;
    }
    .formulario__campo:focus,
    textarea:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    .form {
        position: relative;
        min-width: 100px;
        max-width: 150px;
        margin: 8px auto 0;
    }
    /*Propriedades dos textos/titulos dos formularios*/
    .formulario__texto {
        margin: 6px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 12px;
        color: #ffffff;
        font-weight: bold;
    }
    .p__valida__campo {
        margin-top: 1px;
        margin-bottom: 1px;
        font-family: 'Questrial', sans-serif;
        font-size: 10px;
        font-weight: bold;
    }
    button {
        padding: 5px 6px;
        margin-top: 5px;
    }
}


/*2 tela menor*/


/* iphone 6, 6s, 7, 8 */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    body {
        background-color: #fff;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .box__externo {
        display: block;
        justify-content: center;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 12px;
    }
    .p__titulo {
        border-bottom: solid 1px rgb(0, 0, 0);
        font-family: 'Questrial', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #004196;
        padding: 5px;
        margin: 5px;
    }
    .p__texto {
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        color: #000000;
        padding: 5px;
        margin: 5px;
    }
    .formulario__campo {
        border-radius: 5px;
        border: solid 1px rgb(29, 0, 0);
        height: 30px;
        min-width: 170px;
        max-width: 180px;
        font-family: 'Questrial', sans-serif;
        font-size: 13px;
        color: #000e53;
        padding: 5px;
        margin: 9px;
    }
    textarea {
        min-width: 172px;
        max-width: 172px;
        height: 80px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        font-family: 'Questrial', sans-serif;
        font-size: 13px;
        color: #000e53;
    }
    .formulario__campo:focus,
    textarea:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    .form {
        position: relative;
        margin: 20px auto 0;
        min-width: 100px;
        max-width: 210px;
    }
    /*Propriedades dos textos/titulos dos formularios*/
    .formulario__texto {
        margin: 12px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
    }
    .p__valida__campo {
        margin-top: 6px;
        margin-bottom: 6px;
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    button {
        padding: 10px 22px;
        margin-top: 10px;
    }
}


/*3 tela menor*/


/* iphone XR, 11 */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    body {
        background-color: #fff;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
    .formulario__campo {
        border-radius: 5px;
        border: solid 1px rgb(29, 0, 0);
        height: 30px;
        min-width: 90px;
        max-width: 200px;
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        color: #000e53;
        padding: 5px;
        margin: 9px;
    }
    textarea {
        min-width: 172px;
        max-width: 172px;
        height: 80px;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        font-family: 'Questrial', sans-serif;
        font-size: 13px;
        color: #000e53;
    }
    .formulario__campo:focus,
    textarea:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    .form {
        position: relative;
        min-width: 100px;
        max-width: 210px;
        margin: 20px auto 0;
    }
    /*Propriedades dos textos/titulos dos formularios*/
    .formulario__texto {
        margin: 12px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
    }
    .p__valida__campo {
        margin-top: 6px;
        margin-bottom: 6px;
        font-family: 'Questrial', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    button {
        padding: 10px 22px;
        margin-top: 10px;
    }
}